body {      
  color: #444444;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  background-color:#CEECF5;
  }

h1 {
  font-size: 48px;
  }
p {
  line-height: 1.4;
  font-size: 15px;
  text-align:center;
  }

img.profile {
  border: 3px solid gray;
  padding: 5px;
  margin-right: 10px;
  float: left;
  margin-right: 20px;
  }
.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: center;
  border-bottom: 1px solid #434A5C;
  background: white;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  }

.menu li {
  display: inline-block;
  padding: 20px 35px;
  }

.menu a {
  text-decoration: none;
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  font-family: "Book Antiqua", Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
  }
